.todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.todo-form__title {
  font-size: 24px;
  margin-bottom: 25px;
}

.todo-form__input {
  width: 100%;
  flex: 1 1 auto;
}

.todo-form__buttons-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
