.wrapper {
  max-width: 750px;
  margin: 0 auto;
}

.header__title {
  padding: 40px 0 18px;
  text-align: center;
}

.header__settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.header__input {
  width: 595px;
}

.header__select {
  width: 93px;
  height: 38px;
}

.content {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__toast {
  --toastify-color-light: transparent;
  & > div {
    box-shadow: none;
    padding: 0;
    --toastify-toast-min-height: min-content;

    & > div {
      padding: 0;
    }
  }
}

.content__add-button {
  position: fixed;
  bottom: 32px;
  align-self: flex-end;
  margin-right: 8px;
}
