.dark-mode-button {
  width: 38px;
  height: 38px;
  background-color: var(--primary-color);
  background-image: var(--mode-button-icon);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-color-active);
    box-shadow: 0 0 4px 0 rgba(108, 99, 255, 1);
  }
}
